.wrapper {
  label {
    display: block;
    font-size: 0.875rem;
    padding-bottom: 0.375rem;
    s {
      color: var(--red);
    }
  }
  div {
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 0.75rem;
    border: 2px solid var(--gray-900);
    transition: all 0.2s ease 0s;
    &:hover,
    &:focus {
      background: var(--white);
      border-color: var(--green);
    }
  }
  .input,
  div {
    margin-bottom: 1rem;
  }
  .input,
  .textarea {
    width: 100%;
    outline: none;
    display: block;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: var(--gray-900);
    transition: all 0.2s ease 0s;
    border: 2px solid var(--gray-900);
    &:hover,
    &:focus {
      border-color: var(--green);
    }
  }
  .textarea {
    border: 0;
    resize: none;
    outline: none;
    border-radius: 0;
    min-height: 8rem;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 0.75rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    &:focus {
      background: var(--white);
    }
  }
}
