.wrapper {
  .label {
    font-size: 0.875rem;
    padding-bottom: 0.375rem;
    span {
      color: var(--red);
    }
  }
  .input {
    width: 100%;
    outline: none;
    display: block;
    padding: 0.75rem;
    border-radius: 0.75rem;
    background: var(--gray-900);
    border: 2px solid var(--gray-900);
    transition: all 0.2s ease 0s;
    &:hover,
    &:focus {
      border-color: var(--green);
    }
  }
}
