.footer {
  background: var(--white);
  .content {
    gap: 1.5em;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    a {
      transition: color 0.2s ease 0s;
      &:hover {
        color: var(--green);
      }
    }
    .logo {
      div {
        gap: 1.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        h1 {
          max-width: 14rem;
          font-size: 2.5rem;
          line-height: 1;
          span {
            color: var(--green);
          }
        }
      }
      p {
        font-size: 0.875rem;
        b {
          color: #f8312f;
        }
        a {
          font-weight: bold;
        }
      }
    }
    .navContent {
      h3 {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      ul {
        gap: 0.5rem;
        display: grid;
        .active {
          color: var(--green);
        }
      }
    }
  }
  .nav {
    border-top: 1px solid var(--gray-950);
    .copyContent {
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .social {
        gap: 1.5rem;
        display: flex;
      }
      a,
      button {
        border: 0;
        padding: 0.75rem;
        border-radius: 0.75rem;
        background: var(--gray-950);
        transition: all 0.2s ease 0s;
        &:hover {
          background: var(--gray-900);
        }
      }
    }
  }
  @media (min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
